@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	color: #FFFFFF;
}

main, html{
	background-color: black;
	max-width: 1366px;
	margin: auto;
}

#sobre, #projetos{
	margin: 5% 0;
}

nav{
	background-color: #132642;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    width: 100%;
	max-width: 1366px;
    z-index: 2;   
}

#link_logo{
	margin-left: 5%;
}

nav img{
	background-color: #132642;
	width: 150px;
	
}

.lista_menu{
	background-color: #132642;
	width: 50%;
	display: flex;
	justify-content: space-around;
}

.lista_menu li{
	background-color: #132642;
	list-style: none;
	height: 40px;
	background-color: transparent;
	font-size: 16px;
	padding: 1.5% 4%;
	cursor: pointer;
	border-radius: 20px;
}

.lista_menu li:hover{
	background-color: black;
}

.lista_menu li a{
	text-decoration: none;
}

.box_perfil{
	width: 100%;
	height: 659px;
	padding-top: 10%;
	background-image: url('../images/banner.png');
	background-size: 100% 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.perfil_txt{
	width: 40%;
}

.perfil_txt_50{
	display: flex;
	align-items: center;
}

.perfil_txt_50 hr{
	width: 220px;
	background-color: #03FA6E;
	height: 3px;
	margin-right: 1%;
}

.perfil_txt h3{
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
}

.perfil_txt h1{
	Font-family: 'Times New Roman';
	Font-style: Regular;
	Font-size: 60px;
	font-weight: normal;
	Line-height: 100%;
} 

.perfil_txt_50 h3{
	font-family: Lato;
	font-size: 25px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
}

.perfil_img{
	height: 500px;
}

#icon_code{
	margin-left: 62%;
	position: relative;
	top: -32%;
}

.autoplay{
	width: 70%;
	margin: 0 auto;
}
.autoplay img{
	margin-left: 130px;
}

.titulo_chave{
	font-size: 40px;
	margin-left: 8%;
}

.titulo_menor{
	font-size: 30px !important; 
	margin-left: 14% !important;
}

.azul{
	color: #0066FF;
}

.verde{
	color: #03FA6E;
}

#sobre p{
	text-align: justify;
	width: 72%;
	margin: 0 auto;
	font-size: 20px;
}

#button_cv{
	color: #2A446B;
	width: 150px;
	height: 30px;
	border-radius: 15px;
	background-color: #C5F6DA;
	border: none;
	cursor: pointer;
	margin-left: 14%;
	margin-top: 1%;
}

#button_cv:hover{
	background-color: #0066FF;
	color: #fff;
}

#projetos{
	display: flex;
	flex-direction: column;
}

.box_projetos{
	width: 70%;
	margin: 0 auto;
}

.box_projetos_exemplos{
	display: flex;
}

.img_projeto{
	width: 60%;
	margin-right: 2%;
}

.box_projetos_descricao h2{
	font-family: Lato;
	font-Weight: 600;
	font-Style: italic;
	font-size: 32px;
	color: #C5F6DA;
}

.box_projetos_descricao ul{
	display: flex;
	margin: 4% 0;
}

.box_projetos_descricao ul li{
	list-style-type: none;
	margin-right: 5%;
}

.box_projetos_descricao p{
	margin-bottom: 8%;
	text-align: justify;
}

.box_projetos_buttons{
	margin-top: 14%;
	display: flex;
	justify-content: space-between;
}

.button{
	width: 150px;
	height: 30px;
	border-radius: 15px;
	border: none;
	cursor: pointer;
}

.button:hover{
	color: #2A446B !important;
	background-color: #C5F6DA !important;
}

.button_verde{
	background-color: #03FA6E; 
	color: #2A446B;
}

.button_azul{
	background-color: #0066FF; 
	color: #fff;
}

#button_linkedin{
	width: 15%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}